libft-unit-test/
libft
libftTester/
printfTester/
pft_2019/
pft/
42TESTERS-PRINTF/
gnlTester/
a.out
*.o
*.d
*.so
*.a
.DS_Store
tempCodeRunnerFile.c
*.swp
get_next_line
so_long
vgcore*
obj/
bin/
obj_gnl/
